code/algorithms/paralel
code/classes/solutiondict
CompareScatter200
count20
count200
data/generated
NonAlphaCompareScatter200
other/
PercentageCompareScatter200
Refscatter200
results/generated
results\generated
test.py
**.pyc
**.xml
**.png
testingmodule.py
rename_plots.py
reformat_datafiles.py
code/classes/solutiondict.py
params_to_latex.py
